<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item class="ion-margin-bottom" >
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input ngModel name="userId" placeholder="User Id" required autofocus>
        </ion-input>
    </ion-item>
<ion-button (click)="loader()"> Show Loader</ion-button>
<ion-button (click)="toast()"> Show Toast</ion-button>
<ion-button (click)="alert()"> Show Alert</ion-button>
<ion-button (click)="logout()"> Logout</ion-button>
</ion-content>
